spring:
  application:
    name: AhanOn

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:3306/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000

  data:
    redis:
      host: ${DB_HOST}
      port: 6379
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: DEBUG

jwt:
  secret: ${JWT_SECRET_KEY}
  expiration: 86400000


openai:
  api:
    key: ${OPENAI_KEY}